.button {
    text-decoration: none;
    color: white;
    display: block;
    background-color: @blue;
    font-size: 15px;
    padding: 6px 16px;
    padding-bottom: 7px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: @blue-dark;
}